<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="log.pattern.layout" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %p [%t] %c{30}  : %m%n"/>
    <property name="log.file" value="./logs/kidtracker.log"/>
    <property name="log.file.archived" value="./logs/kidtracker-%d{yyyy-MM-dd}.%i.log"/>
    <property name="log.max.filesize" value="10MB"/>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>${log.pattern.layout}</Pattern>
        </layout>
    </appender>

    <appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.file}</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>${log.pattern.layout}</Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.file.archived}</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>${log.max.filesize}</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <root level="info">
        <appender-ref ref="RollingFile" />
        <appender-ref ref="Console" />
    </root>

    <logger name="ru.mecotrade.kidtracker" level="debug"/>
<!--    <logger name="org.hibernate.SQL" level="debug"/>-->

</configuration>