body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 98%;
    width: 100vw;
}

.right-padded {
    margin: 0 8px 0 0;
}

.battery-full {
    color: green;
}

.battery-half {
    color: orange;
}

.battery-low {
    color: red;
}

.leaflet-popup-content-wrapper .leaflet-popup-content {
    margin: 10px 10px;
    line-height: 1.4;
}

.kid-popup-name {
    font-weight: bold;
}

.kid-popup-steps {
    padding-right: 0.5em;
    font-family: monospace;
    font-weight: bold;
}

.kid-popup-time {
    width: 80px;
    overflow: auto;
}