body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 98%;
    width: 100vw;
}

.right-padded {
    margin: 0 12px 0 0;
}

.leaflet-popup-content-wrapper .leaflet-popup-content {
    margin: 10px 10px;
    line-height: 1.4;
}

.kid-popup-thumb {
    border-radius: 8px;
    width: 80px;
}

.kid-popup-name {
    font-weight: bold;
}

.kid-popup-time {
    width: 80px;
    overflow: auto;
}

.kid-popup-pedometer {
    padding-right: 0.5em;
    font-family: monospace;
    font-weight: bold;
}

#range-picker-input, #date-picker-input {
    justify-content: center;
}

.battery-full {
    color: green;
}

.battery-half {
    color: orange;
}

.battery-low {
    color: red;
}

.kid-popup-alert {
    color: red;
}

#contacts div.modal-body {
  height: 500px;
  max-height: 500px;
  width: 100%;
  overflow-y: scroll;
}

#show-kid-settings div.modal-body {
  height: 500px;
  max-height: 500px;
  width: 100%;
  overflow-y: scroll;
}

div.form-group.reminder-multiselect {
  width: 100%;
  margin: 0 5px 12px 5px;
}

.reminder-multiselect-container {
  width: 100%;
}

.user-device-thumb-img {
    width: 80px;
    border-radius: 10px;
}

#show-user-devices div.modal-body {
  height: 300px;
  max-height: 300px;
  width: 100%;
  overflow-y: scroll;
}

#edit-device div.form-row {
    justify-content: center;
}

.table th.user-device-thumb {
    vertical-align: middle;
}

.table th.user-device-name {
    vertical-align: middle;
    text-align: center;
}

.table td.user-device-others {
    vertical-align: middle;
    text-align: center;
}

.table div.user-device-name-deviceid {
    font-family: monospace;
    color: gray;
}

.table span.user-device-other-user {
    font-style: italic;
    font-size: small;
    color: gray;
}

#edit-device .thumb-placeholder {
    background: center no-repeat url("data:image/svg+xml;utf8,<svg class='bi bi-person-fill' width='80' height='45' viewBox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 100-6 3 3 0 000 6z' clip-rule='evenodd'/></svg>");
    height: 200px;
    width: 200px;
    border: 1px solid lightgray;
    margin-bottom: 30px;
    border-radius: 10px;
}

#edit-device .thumb-img {
    background: center no-repeat url("data:image/svg+xml;utf8,<svg class='bi bi-person-fill' width='80' height='45' viewBox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 100-6 3 3 0 000 6z' clip-rule='evenodd'/></svg>");
    width: 200px;
    margin-bottom: 30px;
    border-radius: 10px;
}

#edit-device input {
    text-align: center;
}