body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 98%;
    width: 100vw;
}

.right-padded {
    margin: 0 12px 0 0;
}

.leaflet-popup-content-wrapper .leaflet-popup-content {
    margin: 10px 10px;
    line-height: 1.4;
}

.kid-popup-name {
    font-weight: bold;
}

.kid-popup-time {
    width: 80px;
    overflow: auto;
}

.kid-popup-pedometer {
    padding-right: 0.5em;
    font-family: monospace;
    font-weight: bold;
}

#range-picker-input, #date-picker-input {
    justify-content: center;
}

.battery-full {
    color: green;
}

.battery-half {
    color: orange;
}

.battery-low {
    color: red;
}

.kid-popup-alert {
    color: red;
}

#contacts div.modal-body {
  height: 500px;
  max-height: 500px;
  width: 100%;
  overflow-y: scroll;
}

#show-kid-settings div.modal-body {
  height: 500px;
  max-height: 500px;
  width: 100%;
  overflow-y: scroll;
}

div.form-group.reminder-multiselect {
  width: 100%;
  margin: 0 5px 12px 5px;
}

.reminder-multiselect-container {
  width: 100%;
}

#show-user-devices div.modal-body {
  height: 300px;
  max-height: 300px;
  width: 100%;
  overflow-y: scroll;
}

#edit-device div.form-row {
    justify-content: center;
}

.table th.user-device-thumb {
    vertical-align: middle;
}

.table th.user-device-name {
    vertical-align: middle;
    text-align: center;
}

.table td.user-device-others {
    vertical-align: middle;
    text-align: center;
}

.table div.user-device-name-deviceid {
    font-family: monospace;
    color: gray;
}

.table span.user-device-other-user {
    font-style: italic;
    font-size: small;
    color: gray;
}

.thumb-placeholder-lg {
    background: center no-repeat url('data:image/svg+xml;utf8,<svg width="200" height="200" viewBox="0 0 16 16" class="bi bi-emoji-smile" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/><path fill-rule="evenodd" d="M4.285 9.567a.5.5 0 0 1 .683.183A3.498 3.498 0 0 0 8 11.5a3.498 3.498 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.498 4.498 0 0 1 8 12.5a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683z"/><path d="M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z"/></svg>');
    height: 200px;
    width: 200px;
    margin-bottom: 30px;
}

.thumb-placeholder {
    background: center no-repeat url('data:image/svg+xml;utf8,<svg width="80" height="80" viewBox="0 0 16 16" class="bi bi-emoji-smile" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/><path fill-rule="evenodd" d="M4.285 9.567a.5.5 0 0 1 .683.183A3.498 3.498 0 0 0 8 11.5a3.498 3.498 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.498 4.498 0 0 1 8 12.5a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683z"/><path d="M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z"/></svg>');
    height: 80px;
    width: 80px;
    margin-bottom: 7px;
}

.thumb-img-lg {
    width: 200px;
    margin-bottom: 30px;
    border-radius: 10px;
}

.thumb-img {
    width: 80px;
    border-radius: 8px;
}

#edit-device input {
    text-align: center;
}

.bi-toggle-on {
    color: #007bff;
}