body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 98%;
    width: 100vw;
}

.right-padded {
    margin: 0 12px 0 0;
}

.leaflet-popup-content-wrapper .leaflet-popup-content {
    margin: 10px 10px;
    line-height: 1.4;
}

.kid-popup-thumb {
    border-radius: 8px;
    width: 80px;
}

.kid-popup-name {
    font-weight: bold;
}

.kid-popup-time {
    width: 80px;
    overflow: auto;
}

.kid-popup-pedometer {
    padding-right: 0.5em;
    font-family: monospace;
    font-weight: bold;
}

.battery-full {
    color: green;
}

.battery-half {
    color: orange;
}

.battery-low {
    color: red;
}

.kid-popup-alert {
    color: red;
}

#contacts div.modal-body {
  height: 500px;
  max-height: 500px;
  width: 100%;
  overflow-y: scroll;
}

#show-kid-settings div.modal-body {
  height: 500px;
  max-height: 500px;
  width: 100%;
  overflow-y: scroll;
}

div.form-group.reminder-multiselect {
  width: 100%;
  margin: 0 5px 12px 5px;
}

.reminder-multiselect-container {
  width: 100%;
}